*{
    background-image:url(/images/o-conceito-de-dinheiro-e-financas-notas-de-100-e-50-euros-dispostas-sobre-um-fundo-azul-no-lado-direito-com-lugar-para-texto_156396-184.jpg);
    background-repeat:inherit
    
}
.container1{
    display: flex; 
    height: 50rem;
    justify-content:center;
    align-items:center;
}
h1{
    font-family: 'Dhurjati', sans-serif;
}
input{
    padding: 10px;
    background-color: white;
    color: black;
    border-radius: 10px;
    font-size: 10px;
    font-style: bold;
}